<section class="tasks">
    <div class="header-tasks">
        <div class="date">{{day}}</div>
        <button (click)="openTaskForm()" >Add Task</button>
    </div>

    <div class="container-tasks">
        <div class="task">
            <div class="timestart">
                8:00
            </div>

            <div class="background">
                <div class="column"></div>
            </div>

            <div class="title">
                <span>Title</span>
                <p>8:00 a.m. - 10:00 a.m.</p>
            </div>

            <div class="icon">
                
            </div>
        </div>
        <div class="task">
            <div class="timestart">
                8:00
            </div>

            <div class="background">
                <div class="column"></div>
            </div>

            <div class="title">
                <span>Title</span>
                <p>8:00 a.m. - 10:00 a.m.</p>
            </div>

            <div class="icon">
                
            </div>
        </div>
        <div class="task">
            <div class="timestart">
                8:00
            </div>

            <div class="background">
                <div class="column"></div>
            </div>

            <div class="title">
                <span>Title</span>
                <p>8:00 a.m. - 10:00 a.m.</p>
            </div>

            <div class="icon">
                
            </div>
        </div>
        <div class="task">
            <div class="timestart">
                8:00
            </div>

            <div class="background">
                <div class="column"></div>
            </div>

            <div class="title">
                <span>Title</span>
                <p>8:00 a.m. - 10:00 a.m.</p>
            </div>

            <div class="icon">
                <div></div>
            </div>
        </div>
        <div class="task">
            <div class="timestart">
                8:00
            </div>

            <div class="background">
                <div class="column"></div>
            </div>

            <div class="title">
                <span>Title</span>
                <p>8:00 a.m. - 10:00 a.m.</p>
            </div>

            <div class="icon">
                
            </div>
        </div>
        <div class="task">
            <div class="timestart">
                8:00
            </div>

            <div class="background">
                <div class="column"></div>
            </div>

            <div class="title">
                <span>Title</span>
                <p>8:00 a.m. - 10:00 a.m.</p>
            </div>

            <div class="icon">
                
            </div>
        </div>
        <div class="task">
            <div class="timestart">
                8:00
            </div>

            <div class="background">
                <div class="column"></div>
            </div>

            <div class="title">
                <span>Title</span>
                <p>8:00 a.m. - 10:00 a.m.</p>
            </div>

            <div class="icon">
                
            </div>
        </div>
    </div>
</section>