<div class="container-graphic">
    <div class="graph">
        <div id="chart-container"></div>
    </div>

    <div class="legend">
        @for (category of this.myData; track category.id) {
        <div class="category">
            <div class="icon">
                <img src="assets/svg/categories/{{category.icon}}" alt="">
            </div>

            <div class="info">
                <h5>{{category.name}}</h5>
                <span>{{category.lastBillDate | TimeAgo}}</span>
            </div>

            <div class="value">
                {{category.value | MoneyFormat}}
            </div>
        </div>
        }
    </div>
</div>