.btn {
    position: relative;
    padding: 8px 24px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #fff;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
    z-index: 15;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &:not(:disabled) {
        // &:hover {
        //     transform: translateY(-2px);
        // }

        &:active {
            transform: scale(0.93);
        }
    }
}

.btn-red {
    background-color: var(--red-color);
}
.btn-green {
    background-color: var(--green-color);
}
.btn-brown {
    background: #E6C6A6;
    background: linear-gradient(180deg, #7a4d20 0%, #c2996f 100%);
}
.btn-orange {
    background-color: #F54417;
    background: linear-gradient(180deg, #f33100 0%, #f35730 100%);
}

.btn-blue {
    background: linear-gradient(90deg, #1a2aed 0%, #4487ad 100%);

    // &:hover:not(:disabled) {
    //     background: rgba(59, 130, 246, 1);
    //     transform: translateY(-1px);
    //     box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
    // }
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    background-repeat: no-repeat;
    z-index: 1;
}

.btn-red.animate::before {
    top: -70%;
    background-image:
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg');
    background-size:
        40% 40%,
        50% 50%,
        45% 45%,
        50% 50%,
        45% 45%,
        40% 40%,
        45% 45%,
        40% 40%,
        45% 45%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out forwards;
}

.btn-red.animate::after {
    bottom: -70%;
    background-image:
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg'),
        url('../../assets/svg/xmark.svg');
    background-size:
        40% 40%,
        60% 60%,
        45% 45%,
        50% 50%,
        40% 40%,
        50% 50%,
        45% 45%;
    background-position:
        10% 0%,
        30% 10%,
        55% 0%,
        70% 0%,
        85% 0%,
        70% 0%,
        70% 0%;
    animation: bottomBubbles 0.6s ease-in-out forwards;
}

.btn-green.animate::before {
    top: -70%;
    background-image:
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, var(--green-color) 20%, transparent 30%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--green-color) 15%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%);
    background-size:
        10% 15%,
        20% 33%,
        15% 18%,
        20% 21%,
        18% 29%,
        10% 15%,
        15% 23%,
        10% 15%,
        18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out forwards;
}

.btn-green.animate::after {
    bottom: -70%;
    background-image:
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--green-color) 15%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%),
        radial-gradient(circle, var(--green-color) 20%, transparent 20%);
    background-size:
        15% 15%,
        20% 20%,
        18% 18%,
        20% 20%,
        15% 15%,
        20% 20%,
        18% 18%;
    background-position:
        10% 0%,
        30% 10%,
        55% 0%,
        70% 0%,
        85% 0%,
        70% 0%,
        70% 0%;
    animation: bottomBubbles 0.6s ease-in-out forwards;
}

@keyframes topBubbles {
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}

@keyframes bottomBubbles {
    50% {
        background-position:
            0% 80%,
            20% 80%,
            45% 60%,
            60% 100%,
            75% 70%,
            95% 60%,
            105% 0%;
    }

    100% {
        background-position:
            0% 90%,
            20% 90%,
            45% 70%,
            60% 110%,
            75% 80%,
            95% 70%,
            110% 10%;
        background-size:
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%;
    }
}