.dn {
    display: none;
}


.navitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5px;
    border-radius: 10px;
    cursor: pointer;

    .icon {
        font-size: 0.9rem;
        padding: 7px 5px;
        border-radius: 10px;
        display: grid;
        place-items: center;
        transition: all 0.5s ease;
    }

    .title {
        width: 100%;
        padding-left: 5px;
    }
}


.collapse {
    justify-content: center;
    padding: 8px 2px;
    margin: 0 5px;
}

.navitem:hover {
    .icon {
        background-color: black;
        // width: 30px;
        // height: 29px;
        
        
        transition: all 0.5s ease;
    }
}

.navitem.active{
    .icon {
        background-color: black;
        // width: 47px;
        // height: 33px;
        
    }
}

