@switch (CardName) {
@case ("BBVA Azul") {
<div class="credit-card-bbva">
    <div class="header-card">
        <div class="icon-bank">
            <img src="assets/svg/bbva.svg" alt="">
        </div>
        <span>Azul</span>
    </div>
    <div class="body-card">
        <div class="icon-waves">
            <img src="assets/svg/waves.svg" alt="">
        </div>
        <div class="icon-chip">
            <img src="assets/png/chip.png" alt="">
        </div>
    </div>
    <div class="footer-card">
        <div class="icon-visa">
            <img src="assets/svg/visa.svg" alt="">
        </div>
    </div>
</div>
}

@case ("BBVA Débito") {
<div class="debit-card-bbva">
    <div class="header-card">
        <div class="icon-bank">
            <img src="assets/svg/bbva.svg" alt="">
        </div>
    </div>
    <div class="body-card">
        <div class="icon-waves">
            <img src="assets/svg/waves-debit.svg" alt="">
        </div>
        <div class="icon-chip">
            <img src="assets/png/chip.png" alt="">
        </div>
    </div>
    <div class="footer-card">
        <div class="icon-visa">
            <img src="assets/svg/visa.svg" alt="">
            <span class="text-debit">Débito</span>
        </div>
    </div>
</div>
}

@case ("Efectivo") {
<div class="cash">
    <div class="container-cash">
        <div class="circle"></div>
        <div class="icon-dollar">
            <img src="assets/svg/dollar2.svg" alt="">
        </div>
        <div class="circle"></div>
    </div>
</div>
}
}
