.p-dialog {
    .p-dialog-header{
        padding: 10px 15px;
    }

    .p-dialog-content{
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .p-dialog-footer{
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}