.tasks {
    height: 100%;

    .header-tasks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 0px 10px;

        .date {
            font-weight: bold;
            font-size: 11px;
            text-transform: capitalize;
        }

        button{
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            padding: 5px 10px;
            color: rgba(255, 255, 255, 0.8);
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 14px;
        }
    }

    

    .container-tasks {
        padding: 7px 10px;
        height: 90%;
        overflow-y: scroll;

        .task {
            height: 45px;
            display: grid;
            grid-template-columns: 13% 10px 1fr 10%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.18);
            padding-top: 5px;

            .timestart {
                text-align: center;
                font-size: 11px;
            }

            .background {
                display: flex;
                justify-content: center;

                .column {
                    background-color: red;
                    height: 13px;
                    width: 3px;
                    border-radius: 5px;
                    margin-top: 2px;
                }
            }

            .title {
                padding-left: 5px;

                span {
                    font-weight: bold;
                    // font-size: 14px;
                }

                p {
                    margin: 0;
                    font-size: 11px;
                    color: rgb(137, 132, 187);
                }
            }

            .icon {
                display: grid;
                place-content: center;
            }
        }
    }

    .container-tasks::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
    .container-tasks::-webkit-scrollbar-thumb{
        background: var(--secondary-color);
        border-radius: 4px;
    }
    .container-tasks::-webkit-scrollbar-thumb:hover{
        background: var(--secondary-color-black);
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    // .container-tasks::-webkit-scrollbar-thumb:active{
    //     // background: yellow;
    // }
    .container-tasks::-webkit-scrollbar-track{
        background: #d4d4d4;
        border-radius: 4px;
    }
}