<div #containerIncomesYear class="incomes-year">
    <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle" [barPadding]="2" [groupPadding]="5" 
        
        style="fill: rgb(255, 255, 255);">
        <!-- 
            TODO I will investigate if exist some functionality to this functions
        (select)="onSelect($event)"
        (activate)="onActivate($event)" 
        (deactivate)="onDeactivate($event)" -->
    </ngx-charts-bar-vertical-2d>
</div>