@use "./styles/global/button.scss";

/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "./app/core/styles/primeng/toast.scss";
@import "./app/core/styles/primeng/checkbox.scss";
@import "./app/core/styles/primeng/overlaypanel.scss";
@import "./app/core/styles/primeng/dialog.scss";

// linear-gradient(180deg, #2E323f 0%, #0A061A 100%);
@font-face {
    font-family: Common;
    src: url(assets/fonts/Laura.ttf);
}


:root {
    // Global
    --common-font-size: 13px;
    --common-border-radius: 4px;

    --height-modal: 330px;
    
    // color-scheme: light dark;
    --red-color: #dd0a0af5;
    --green-color: #62bd1d;
    --secondary-color: rgb(137, 132, 187);
    --secondary-color-black: rgb(121, 118, 170);

    --blue-50: #f5f9ff;
    --blue-100: #d0e1fd;
    --blue-200: #abc9fb;
    --blue-300: #85b2f9;
    --blue-400: #609af8;
    --blue-500: #3b82f6;
    --blue-600: #326fd1;
    --blue-700: #295bac;
    --blue-800: #204887;
    --blue-900: #183462;
    --green-50: #f4fcf7;
    --green-100: #caf1d8;
    --green-200: #a0e6ba;
    --green-300: #76db9b;
    --green-400: #4cd07d;
    --green-500: #22c55e;
    --green-600: #1da750;
    --green-700: #188a42;
    --green-800: #136c34;
    --green-900: #0e4f26;
    --yellow-50: #fefbf3;
    --yellow-100: #faedc4;
    --yellow-200: #f6de95;
    --yellow-300: #f2d066;
    --yellow-400: #eec137;
    --yellow-500: #eab308;
    --yellow-600: #c79807;
    --yellow-700: #a47d06;
    --yellow-800: #816204;
    --yellow-900: #5e4803;
    --cyan-50: #f3fbfd;
    --cyan-100: #c3edf5;
    --cyan-200: #94e0ed;
    --cyan-300: #65d2e4;
    --cyan-400: #35c4dc;
    --cyan-500: #06b6d4;
    --cyan-600: #059bb4;
    --cyan-700: #047f94;
    --cyan-800: #036475;
    --cyan-900: #024955;
    --pink-50: #fef6fa;
    --pink-100: #fad3e7;
    --pink-200: #f7b0d3;
    --pink-300: #f38ec0;
    --pink-400: #f06bac;
    --pink-500: #ec4899;
    --pink-600: #c93d82;
    --pink-700: #a5326b;
    --pink-800: #822854;
    --pink-900: #5e1d3d;
    --indigo-50: #f7f7fe;
    --indigo-100: #dadafc;
    --indigo-200: #bcbdf9;
    --indigo-300: #9ea0f6;
    --indigo-400: #8183f4;
    --indigo-500: #6366f1;
    --indigo-600: #5457cd;
    --indigo-700: #4547a9;
    --indigo-800: #363885;
    --indigo-900: #282960;
    --teal-50: #f3fbfb;
    --teal-100: #c7eeea;
    --teal-200: #9ae0d9;
    --teal-300: #6dd3c8;
    --teal-400: #41c5b7;
    --teal-500: #14b8a6;
    --teal-600: #119c8d;
    --teal-700: #0e8174;
    --teal-800: #0b655b;
    --teal-900: #084a42;
    --orange-50: #fff8f3;
    --orange-100: #feddc7;
    --orange-200: #fcc39b;
    --orange-300: #fba86f;
    --orange-400: #fa8e42;
    --orange-500: #f97316;
    --orange-600: #d46213;
    --orange-700: #ae510f;
    --orange-800: #893f0c;
    --orange-900: #642e09;
    --bluegray-50: #f7f8f9;
    --bluegray-100: #dadee3;
    --bluegray-200: #bcc3cd;
    --bluegray-300: #9fa9b7;
    --bluegray-400: #818ea1;
    --bluegray-500: #64748b;
    --bluegray-600: #556376;
    --bluegray-700: #465161;
    --bluegray-800: #37404c;
    --bluegray-900: #282e38;
    --purple-50: #fbf7ff;
    --purple-100: #ead6fd;
    --purple-200: #dab6fc;
    --purple-300: #c996fa;
    --purple-400: #b975f9;
    --purple-500: #a855f7;
    --purple-600: #8f48d2;
    --purple-700: #763cad;
    --purple-800: #5c2f88;
    --purple-900: #432263;
    --red-50: #fff5f5;
    --red-100: #ffd0ce;
    --red-200: #ffaca7;
    --red-300: #ff8780;
    --red-400: #ff6259;
    --red-500: #ff3d32;
    --red-600: #d9342b;
    --red-700: #b32b23;
    --red-800: #8c221c;
    --red-900: #661814;
    --primary-50: #f5f9ff;
    --primary-100: #d0e1fd;
    --primary-200: #abc9fb;
    --primary-300: #85b2f9;
    --primary-400: #609af8;
    --primary-500: #3b82f6;
    --primary-600: #326fd1;
    --primary-700: #295bac;
    --primary-800: #204887;









    //-================= COLORS PRIMARY =================-\\
    --color-primary-4: #072834;
    --color-primary-3: #125877;
    --color-primary-2: #1889b7;
    --color-primary-1: #20a8e1;
    --color-primary-5: #67c2ec;
    --color-primary-6: #9ad8f3;
    --color-primary-7: #e1f1fc;
    --color-primary-8: #ffffff;

    --color-success-1: #0bd18a;
    --color-warning-1: #eee500;
    --color--error--1: #fc6161;

    //-================= BBORDER RADIUS =================-\\
    --border-buton-r0: 4px;
    --border-buton-r1: 8px;
    --border-buton-r2: 10px;
    --border-buton-r3: 12px;
    --border-buton-r4: 14px;
    --border-buton-r5: 20px;

    --border-buton-10: #20a8e1;

    //-================= BBORDER =================-\\
    --border-buton-s1: 1px solid var(--color-primary-2);
    --border-buton-a1: 1px solid var(--color-primary-1);
    --border-buton-b1: 2px solid var(--color-primary-2);
    --border-bnt-CP-1: 2px solid var(--color-primary-1);

    --border-buton-s2: 1px solid #efefef;
    --border-buton-b2: 2px solid #efefef;

    //-================= BOX SHADOWS =================-\\

    --box-shadow-tem1: 0 2rem 3rem rgba(132, 169, 200, 0.18);

    --box-shadow-inp1: 0 0px 3px var(--color-primary-2);

    //^======= BOX SHADOWS  FORMS =======^\\
    --box-shadow-inva: 0 0px 3px var(--color--error--1);
    --box-shadow-vali: 0 0px 3px var(--color-success-1);
    --box-shadow-warn: 0 0px 3px var(--color-warning-1);
    --box-shadow-val2: 0 0px 3px var(--color-primary-1);

    //^======= BOX SHADOWS secction task =======^\\
    --box-shadow-list: 0px 10px 10px 0px #20a7e11a;

    //-================= FONTS SIZES =================-\\
    --font-size-gen-0: 0.9rem;
    --font-size-gen-1: 1rem;
    --font-size-gen-2: 1.1rem;
    --font-size-gen-3: 1.3rem;

    --font-size-h1--1: 1.8rem;
    --font-size-h2--1: 1.4rem;
    --font-size-h3--1: 0.87rem;
    --font-size-h4--1: 0.8rem;
    --font-size-h5--1: 0.77rem;
    --font-size-h6--1: 0.7rem;
    --font-size-h7--1: 0.6rem;

    --font-siz-titl-1: 2rem;

    //-================= TEXT COLOR =================-\\
    --color-textpri-1: #072834;
    --color-text-gray: #5d657b;
    --color-textwhite: #ffffff;
    --color-textblack: #000000;

    //-================= BACKGROUNDS =================-\\
    --color-background: #f1f5f9;
    --color-backgAside: #ffffff;
    --color-backgbuton: #f7f7f7;
    --color-backbuton2: #ffffff;

    --color-backgCW-n1: #ffffff;

    //-================= TRANSITIONS =================-\\
    --transition-exam1: all 0.5s ease;
    --transition-exam2: all 0.3s ease;
    --transition-exam3: all 0.2s ease;

    //-================= PADING =================-\\

    //-================= COLORS ICONS =================-\\
    --color-iconsvg-n0: #ffffff;
    --color-iconsvg-n1: #072834;
    --color-iconsvg-n2: #5d657f;
    --color-iconsvg-n3: #072834;
    --color-iconsvg-n4: #072834;

    --color-folder-GT1: #eee500;
    --color-folder-GT2: #eebe00;

    --color-staTask-1a: var(--color-warning-1);
    --color-staTask-1b: #e1d730;

    --color-staTask-2a: #00d8ff;
    --color-staTask-2b: #4391b5;

    --color-staTask-3a: var(--color-success-1);
    --color-staTask-3b: #43b577;

    --color-staTask-4a: var(--color--error--1);
    --color-staTask-4b: #b54343;

    --color-staTask-5a: #8f35ff;
    --color-staTask-5b: #5b43b5;

    --color-staTask-6a: #ffb432;
    --color-staTask-6b: #b58343;

    --color-staTask-NF: #5d657b;
    --color-staTask-NE: #5d657b;

    //-================= COLORS FORMS =================-\\

    --color-invalid-fo: #93939336;

    //-================= COLORS FOR FILES =================-\\

    --color-file-pdf-a: #b54343;
    --color-file-pdf-b: #ff4d4d;

    --color-file-png-a: #5b43b5;
    --color-file-png-b: #8f35ff;

    --color-file-ppt-a: #f6ae34;
    --color-file-ppt-b: #ffca6e;

    --color-filepptx-a: #b58343;
    --color-filepptx-b: #ffb432;

    --color-file-doc-a: #08cff6;
    --color-file-doc-b: #8bedff;

    --color-filedocx-a: #4391b5;
    --color-filedocx-b: #00d8ff;

    --color-file-xls-a: #50f39c;
    --color-file-xls-b: #7effba;

    --color-filexlsx-a: #43b577;
    --color-filexlsx-b: #52fca1;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Common;
    font-size: var(--common-font-size);
    margin: 0;
    color: #fff;
    user-select: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}




// Utils
.main-background {
    background: rgb(255 255 255 / 10%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 28%);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}


// Forms
.my-input {
    position: relative;
    width: 300px;
    height: 40px;

    .icon {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        background-color: rgb(90, 125, 134);
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
        z-index: 9991;
    }

    label {
        position: absolute;
        color: #939393;
        top: 50%;
        transform: translate(30%, -50%);
        transition: .3s;
        z-index: 9992;
    }

    input {
        padding: 0px 20px;
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

}

.my-input.focus {
    label {
        color: #fff;
        top: -12px;
    }

    .icon {
        animation-name: jump;
        animation-duration: 1.3s;
    }
}

@keyframes jump {
    0% {
        transform: translate(-50%, -50%) scale(1, 1) translateY(0);
    }

    10% {
        transform: translate(-50%, -50%) scale(1.1, .9) translateY(0);
    }

    30% {
        transform: translate(-50%, -50%) scale(.9, 1.1) translateY(-15px);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.05, .95) translateY(0);
    }

    57% {
        transform: translate(-50%, -50%) scale(1, 1) translateY(-5px);
    }

    64% {
        transform: translate(-50%, -50%) scale(1, 1) translateY(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1, 1) translateY(0);
    }
}

.ng-autocomplete {
    display: block;
    width: 100% !important;
    border-radius: 5px;
}

.autocomplete-container .input-container input {
    padding: 0 20px !important;
    border-radius: 5px;
}

.autocomplete-container .suggestions-container {
    top: 35px;
}

// Modals
.swal2-container {
    z-index: 9995;
}


/* PrimeNG Column Filter */
.p-column-filter-overlay {
    .p-component {
        font-size: 13px;
    }
    /* Titles */
    .picker-title {
        padding: 10px 0px 5px 0px;
        font-size: 14px;
        text-align: center;

        span {
            font-weight: bold;
        }
    }

    /* DropDown */
    .p-dropdown {
        .p-dropdown-trigger {
            .p-icon-wrapper {
                width: 12px;
            }
        }
    }

    .p-dropdown-panel {

        .p-dropdown-items-wrapper {
            // background-color: red;
        }

        .p-dropdown-items-wrapper::-webkit-scrollbar {
            display: none;
        }


        .p-dropdown-items {
            padding: 0.75rem 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;


            .p-dropdown-item {
                margin: 0;
                padding: 5px 10px;
                border: 0 none;
                color: #4b5563;
                background: transparent;
                transition: box-shadow 0.2s;
                border-radius: 0;
            }

            .p-dropdown-item.p-highlight.p-focus {
                background: rgba(59, 130, 246, 0.24);
            }

            .p-dropdown-item.p-highlight {
                color: #1D4ED8;
                background: #EFF6FF;
            }

            .p-dropdown-item:hover {
                color: #1D4ED8;
                background: #EFF6FF;
            }

        }
    }

    /* Input */
    .p-inputtext {
        padding: 8px 10px;
    }

    .p-inputnumber-buttons-stacked {
        .p-inputnumber-button-group {
            .p-inputnumber-button-up {
                padding: 0px 0px;
            }

            .p-inputnumber-button-down {
                padding: 0px 0px;
            }
        }
    }

    /* Button */
    .p-button {
        padding: 5px 10px;
    }

    /* Multiselect */
    .p-multiselect {
        .p-multiselect-label-container {
            .p-multiselect-label {
                padding: 8px 10px;
            }
        }

        .p-multiselect-trigger {
            .p-icon-wrapper {
                width: 12px;
            }
        }


        .p-multiselect-panel {

            .p-checkbox {
                width: 18px;
                height: 18px;

                .p-checkbox-box {
                    width: 18px;
                    height: 18px;
                }
            }

            .p-multiselect-header {
                padding: 8px 10px;

                .p-multiselect-filter-container {
                    .p-multiselect-filter {
                        padding: 3px 10px;
                    }
                }

                .p-multiselect-close{
                    .p-icon-wrapper{
                        width: 12px;
                    }
                }
            }

            .p-multiselect-items-wrapper {
                .p-multiselect-items{
                    .p-multiselect-item{
                        padding: 8px 10px;

                        .vertical-align-middle{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }
                }
            }

            .p-multiselect-items-wrapper::-webkit-scrollbar {
                display: none;
            }
        }
    }

    /* Add Rule */
    .p-column-filter-add-rule {
        padding: 4px 10px;
    }
}
.p-column-filter-overlay-menu {
    .p-column-filter-operator {
        padding: 10px 15px;
        border-bottom: 1px solid #e5e7eb; // TODO puedes retirar
        color: #374151; // TODO puedes retirar
        background: #f9fafb; // TODO puedes retirar
        margin: 0; // TODO puedes retirar
        border-top-right-radius: 6px; // TODO puedes retirar
        border-top-left-radius: 6px; // TODO puedes retirar


    }

}





/* Tag */
.p-tag {
    font-size: 11px;
    background: var(--primary-100);
    color: var(--primary-700);
}
.p-tag.p-tag-success {
    background: var(--green-100);
    color: var(--green-700);
}
.p-tag.p-tag-info {
    background: var(--orange-100);
    color: var(--orange-700);
}
.p-tag.p-tag-danger {
    background: var(--red-100);
    color: var(--red-700);
}
.p-column-filter-overlay-menu .p-column-filter-constraint {
    padding: 10px 15px;
}
.p-fluid .p-button {
    font-size: 12px;
}
.p-button .p-button-icon-left {
    width: 12px;
}
.p-fluid .p-dropdown .p-dropdown-label {
    font-size: 13px;
    padding: 8px;
}
.p-column-filter-overlay-menu .p-column-filter-buttonbar {
    padding: 10px 15px;
}




.li-list{
    padding: 0;
    margin: 0;
    list-style: none;
    .li-list-item{
        padding: 3px 5px;
        border-radius: var(--common-border-radius);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;

        .li-list-item-icon{
            display: grid;
            place-content: center;
            width: 30px;
        }
    }
    .li-list-item:hover{
        background-color: #ffffff52;
    }
}