.dn {
    display: none;
}

.navitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5px;
    border-radius: 10px;
    cursor: pointer;

    .icon {
        width: 30px;
        font-size: 0.9rem;
        padding: 7px 5px;
        border-radius: 10px;
        display: grid;
        place-items: center;
        transition: all 0.5s ease;
    }

    .title {
        display: none;
        // width: 100%;
        // padding-left: 5px;
    }
}

.collapse {
    justify-content: center;
    padding: 8px 2px;
    margin: 0 5px;
}

.navitem:hover {
    .icon {
        background-color: rgb(203, 152, 3);
        box-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
        
        // width: 30px;
        // height: 29px;
        
        
        transition: all 0.5s ease;
    }
}

.navitem.active{
    .icon {
        background-color: rgb(203, 152, 3);
        box-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
        // width: 47px;
        // height: 33px;
        
    }
}

@media (min-width: 1000px) {
    .navitem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 5px;
        border-radius: 10px;
        cursor: pointer;
    
        .icon {
            width: 30px;
            font-size: 0.9rem;
            padding: 7px 5px;
            border-radius: 10px;
            display: grid;
            place-items: center;
            transition: all 0.5s ease;
        }
    
        .title {
            display: block;
            width: 100%;
            padding-left: 5px;
        }
    }
    
    .collapse {
        justify-content: center;
        padding: 8px 2px;
        margin: 0 5px;
    }
    
    .navitem:hover {
        .icon {
            background-color: rgb(203, 152, 3);
            box-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
            
            // width: 30px;
            // height: 29px;
            
            
            transition: all 0.5s ease;
        }
    }
    
    .navitem.active{
        .icon {
            background-color: rgb(203, 152, 3);
            box-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
            // width: 47px;
            // height: 33px;
            
        }
    }
}


