<section class="todo-container main-background">
    <header class="todo-header">
        <h3>To Do List</h3>
    </header>
    <div class="todo-list-container">
        <div class="todo-lists">
            <h5>Lists</h5>
            <ul class="todo-lists-list">
                @for(list of this.lists; track list.id){
                    <li class="todo-lists-item"  [class.active]="list.selected" (click)="findList(list.id, 0)">
                        <div class="todo-lists-item-icon">
                            <i class="fa-solid {{list.icon}}"></i>
                        </div>
                        <label>{{list.name}}</label>
                    </li>
                }
            </ul>

            <h5 [style]="{'margin-top': '10px'}">Categories</h5>
            <ul class="todo-lists-list">
                @for(category of this.categories; track category.id){
                    <li class="todo-lists-item" [ngClass]="{'active': category.selected}" (click)="findList(category.id, 1)">
                        <div class="todo-lists-item-icon">
                            <i class="fa-solid {{category.icon}}"></i>
                        </div>
                        <label>{{category.name}}</label>
                    </li>
                }
            </ul>
        </div>
        <div class="todo-tasks">
            <h5>Tasks</h5>
            <ul class="todo-list">
                @for(task of this.tasks; track task.id){
                    @if (!task.ready) {
                        <li class="todo-task">
                            <div class="todo-task-name">
                                <p-checkbox [(ngModel)]="task.ready" [binary]="true" inputId="binary" (onChange)="setReady(task, true)"/>
                                <label for="">{{task.title}}</label>
                            </div>
        
                            <div class="todo-task-operations">
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </li>
                    }
                }
            </ul>
            <h5 id="ready-label">Ready</h5>
            <ul class="todo-list">
                @for(task of this.tasks; track task.id){
                    @if (task.ready) {
                        <li class="todo-task">
                            <div class="todo-task-name">
                                <p-checkbox [(ngModel)]="task.ready" [binary]="true" inputId="binary" (onChange)="setReady(task, false)"/>
                                <label for="">{{task.title}}</label>
                            </div>
        
                            <div class="todo-task-operations">
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>        
    </div>
    <footer class="todo-footer">
        <form [formGroup]="this.createTaskDto">
            <div class="todo-add-task">
                <div class="todo-add-task-icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="todo-add-task-input">
                    <input type="text" formControlName="title" (keypress)="this.saveNewTask($event)">

                    <div class="todo-add-task-operation">
                        <i class="fa-solid {{this.createTaskDto.controls['list'].value.icon}}" (click)="lo.toggle($event)"></i>
                        <i class="fa-solid fa-calendar-days" (click)="co.toggle(help($event))"></i>
                        <i class="fa-regular fa-clock" (click)="mo.toggle($event)"></i>
                        <i class="fa-solid fa-repeat" (click)="ro.toggle($event)"></i>
                    </div>
                </div>
            </div>
        </form>
    </footer>
</section>

<p-overlayPanel #co [style]="{'margin-left': '-12px', 'width':'150px'}"></p-overlayPanel>
<p-overlayPanel #mo [style]="{'margin-left': '-12px', 'width':'200px'}"></p-overlayPanel>
<p-overlayPanel #ro [style]="{'margin-left': '-12px', 'width':'200px'}"></p-overlayPanel>
<p-overlayPanel #lo [style]="{'margin-left': '-12px', 'width':'200px'}">
    <ul class="li-list">
        @for (list of this.lists; track list.id) {
            <li class="li-list-item" (click)="selectList(list.id)">
                <div class="li-list-item-icon">
                    <i class="fa-solid {{list.icon}}"></i>
                </div>
                <label>{{list.name}}</label>
            </li>
        }
    </ul>
</p-overlayPanel>

<p-toast />