.container {
    display: block;
    width: 100%;


    .cards-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .daily-bills-container {
        // background-color: rgb(148, 105, 105);
        display: block;
        margin-top: 20px;

        h4 {
            text-align: center;
        }

    }

    .incomes-container {
        display: block;
        margin-top: 20px;

        h4 {
            text-align: center;
        }

        .incomes-year {
            background-color: aqua;
        }
    }

    .objetive-container {
        h4 {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }

    .bills-container {
        display: grid;
        grid-template-columns: 1fr 70%;
        margin-top: 20px;

        .category {
            background-color: black;
        }

        .graphic {
            background-color: cadetblue;
        }
    }

    .debts-container {
        margin-top: 20px;
        background-color: salmon;
    }
}