.main {
    display: grid;
    grid-template-columns: 77% 23%;
    background: linear-gradient(180deg, #061730 0%, #030b17 100%);

    .navbar {
        position: absolute;
        display: block;
        width: 140px;
        height: 100vh;
        padding: 20px 5px;

        background: rgb(255 255 255 / 10%);
        // background: rgba(255, 255, 255, 0.493);
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 28%);
        backdrop-filter: blur(30px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-top-right-radius: 10px;

        .logo {
            width: 60px;
            font-size: 3rem;
            margin: 0 auto;
            margin-bottom: 10px;
            cursor: pointer;
        }

        nav {
            display: grid;
            // row-gap: 2px;
        }
    }

    .collapse {
        width: 70px;
        padding: 20px 0px;
    }


    .dash {
        padding-left: calc(70px + 20px);
        padding-right: 20px;
        padding-top: 20px;
        height: 100vh;
        overflow-y: auto;
    }

    .dash::-webkit-scrollbar {
        width: 0;
    }

    .dash-collapse {
        padding-left: calc(140px + 20px);
    }

    .calendar {
        display: grid;
        grid-template-rows: 38% 32% 30%;
        height: 100vh;

        background: rgb(255 255 255 / 10%);
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 28%);
        backdrop-filter: blur(30px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}