.calendar-container {
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    background-color: rgba(0, 0, 0, 0.75);

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        .month-section{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 130px;

            .arrow{
                cursor: pointer;
                font-size: 10px;
            }
        }

        h4 {
            text-transform: capitalize;
        }
    }

    .week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 0px;

        .days {
            text-align: center;
        }
    }

    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 0px;

        .day {
            font-size: 14px;
            display: grid;
            place-items: center;
            height: 33px;
            text-align: center;

            div {
                width: 30px;
                height: 30px;
                border-radius: 10px;
                display: grid;
                place-items: center;
            }

            div:hover {
                cursor: pointer;
                // background-color: rgb(18, 16, 39);
                border: 1px solid rgba(255, 255, 255, 0.28);
            }
        }


        .day.today {
            div {
                background-color: rgba(14, 113, 169, 0.91);
                // border: 1px solid #fff;
            }
        }

        .day.no-day-of-month {
            div {
                color: rgb(137, 132, 187);
            }
        }
    }

}