<section class="calendar-container">

    <div class="calendar-header">
        <div class="month-section">
            <div class="arrow">
                <i class="fa-solid fa-chevron-left" (click)="previousMonth()"></i>
            </div>
            <h4>{{month}}</h4>
            <div class="arrow">
                <i class="fa-solid fa-chevron-right" (click)="nextMonth()"></i>
            </div>
        </div>
        <h3>{{year}}</h3>
    </div>

    <div class="week">
        @for (day of week; track $index) {
        <div class="days">{{day.con}}</div>
        }
    </div>

    <div class="calendar">
        @for (item of items; track $index) {
        <div class="day" [ngClass]="{'today': item.today, 'no-day-of-month': item.noDayOfMonth}">
            <div (click)="insertTask($event, item.day, item.noDayOfMonth)">{{item.day}}</div>
        </div>
        }
    </div>
</section>